{% extends "layout.html" %}

{% block page_title %}
APVS Admin
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

  <ul id="sub-nav">

    <li><a href="index">Dashboard</a></li>
    <li>
      <a href="claims.html">Claims</a>
<!-- <ul>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
</ul> -->
</li>


</ul>

<a class="link-back" href="claims.html">Back</a>






<div class="grid-row">
  <div class="column-half">
    <h1 class="heading-large">
      <span class="heading-secondary">Reference number</span>4VTE9ZM
    </h1>

  </div>
  <div class="column-quarter">

        <h1 class="heading-large">
      <span class="heading-secondary">Submitted </span>25/10/16
    </h1>
      </div>
      <div class="column-quarter">
        <h1 class="heading-large">
      <span class="heading-secondary">Last updated</span>29/10/16
    </h1>
          </div>
        </div>






        <!-- <ul class="sub-tabs">
          <li><a href="view-claim" class="active">Visitor <span class="error">3</span></a></li>
          <li><a href="view-claim-prisoner">Prisoner</a></li>
          <li><a href="view-claim-detail">Claim <span class="error">1</span></a></li>
          <li><a href="">History</a></li>
        </ul>
 -->
        <h1 class="table-heading">Visitor</h1>

        <table class="col-2">

          <tr>
            <td>Visitor Name</td>
            <td>Mr Joseph Bloggs</td>
          </tr>

          <tr>
            <td>Date of Birth</td>
            <td>31/3/1980</td>
          </tr>

          <tr>
            <td>National Insurance number</td>
            <td>JL 123 123 123</td>
          </tr>

          <tr>
            <td>Home Address</td>
            <td>  House No.<br>
              First line of address<br>
              Second line of address<br>
              Post Code</td>
            </tr>

            <tr>
              <td>Email Address</td>
              <td><a href="">j.bloggs@gov.uk</a></td>
            </tr>

            <tr>
              <td>Phone Number</td>
              <td>+4475 123 12345</td>
            </tr>

            <tr>
              <td>Prisoner Relationship</td>
              <td>Husband, wife or civil partner</td>
            </tr>

            <tr>
              <td>Child Tax Credits</td>
              <td>
                <a href="" class="link">View page one</a>
                <select class="form-control action-select" >
                  <option>Select</option>
                  <option>Approved</option>
                  <option selected="">Request new image</option>

                </select>
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <a href="" class="link">View page two</a>
                <select class="form-control action-select" >
                  <option>Select</option>
                  <option selected="">Approved</option>
                  <option>Request new image</option>

                </select>
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <a href="" class="link">View page three</a>
                <select class="form-control action-select" >
                  <option>Select</option>
                  <option selected="">Approved</option>
                  <option>Request new image</option>

                </select>
              </td>
            </tr>


          </table>

          

          <h1 class="table-heading">Prisoner</h1>

          <table class="col-2">
<tr>
      <td>Name</td>
      <td>Mr Peter Bloggs</td>
    </tr>

    <tr>
      <td>Date of birth</td>
      <td>18 08 1989</td>
    </tr>

    <tr>
      <td>Prisoner Number</td>
      <td>0000001</td>
    </tr>

    <tr>
      <td>Prison</td>
      <td>Featherstone</td>
    </tr>

    

    <tr>
      <td>Eligible for visitation?</td>
      <td>Yes</td>
    </tr>

  </table>

          <h1 class="table-heading">Claim</h1>

  <table>
    <tbody>

    <tr >
        <td><span class="bold">Train Journey </span> 
          <br>Birmingham New Street to Redditch - Return </td>
          <td>£14</td>


          <td>
            <a href="">View receipt</a>
          </td>
          <td class="text-right">
            <select class="form-control action-select">
              <option>Select</option>
              <option selected>Approved</option>
              <option>Approve different amount</option>
              <option>Request information</option>
              <option>Reject claim</option>

            </select>
          </td>
        </tr>
      <tr >
        <td><span class="bold">Taxi Journey </span> 
          <br>Redditch to Hewell</td>
          <td>£8</td>


          <td>
            <a href="">View receipt</a>
          </td>
          <td class="text-right">
            <select class="form-control action-select">
              <option>Select</option>
              <option selected>Approved</option>
              <option>Approve different amount</option>
              <option>Request information</option>
              <option>Reject claim</option>

            </select>
          </td>
        </tr>

        


        <tr class="warning">
        <td><span class="bold">Taxi Journey </span> 
          <br>Hewell to Birmingham New Street</td>
          <td>£42.50</td>


          <td>
            <a href="">View receipt</a>
          </td>
          <td class="text-right">
            <select class="form-control action-select">
              <option>Select</option>
              <option>Approve</option>
              <option>Approve different amount</option>
              <option>Request information</option>
              <option>Reject claim</option>

            </select>
          </td>
        </tr>

        <tr>
        <td><span class="bold">Light refreshment </span> </td>
          <td>£2.50</td>


          <td>
            
          </td>
          <td class="text-right">
            <select class="form-control action-select">
              <option>Select</option>
              <option selected>Approved</option>
              <option>Approve different amount</option>
              <option>Request information</option>
              <option>Reject claim</option>

            </select>
          </td>
        </tr>

        <tr class="no-border">
        <td class="text-right"><h3 class="heading-small">Approved ammount</h3></td>
          <td><h3 class="heading-small">£24.50</h3></td>
          <td></td>
          <td>
          </td>
        </tr>





        </tbody></table>


        <br>

        <br>

        <h1 class="heading-medium">Additional information</h1>

        <ul class="claim-dialog">
          

          <li class="caseworker">
            <h2>Chris Sisk</h2>
            
            <p>Please re-upload page one of your Child Tax Credits documentation. Why did you take a taxi from 
Hewell to Birmingham New Street instead of using public transport?</p>
            <p class="time">24/10/16 - 14:20</p>
          </li>

          <li class="claimant">
            <h2>Joe Bloggs</h2>
            
            <p>Page one of Child Tax Credits documentation uploaded. <a href="">View</a></p>
            <p class="time">24/10/16 - 16:10</p>
          </li>

          <li class="claimant">
            <h2>Joe Bloggs</h2>
            
            <p>All trains from Redditch to Birmingham New Street were cancelled.</p>
            <p class="time">24/10/16 - 16:12</p>
          </li>

          <li class="caseworker">
            <h2>Chris Sisk</h2>
            
            <p>APVU will contribute 50% of your taxi fare on this occasion. </p>
            <p class="time">24/10/16 - 16:50</p>
          </li>
          
        </ul>


          <form action="apply-2" method="post" class="form">
            <div class="form-group">
              <fieldset>


                <label for="accept" class="block-label inline" data-target="accept-input">
                  <input type="radio" name="accept" value="" id="accept">

                  <span>Approve</span>

                </label>



                <label for="request" class="block-label inline" data-target="request-input">
                  <input type="radio" name="accept" value="" id="request">

                  <span>Request information</span>

                </label>



                <label for="reject" class="block-label inline" data-target="reject-input">
                  <input type="radio" name="accept" value="" id="accept">

                  <span>Reject</span>

                </label>

                <div class="panel panel-border-narrow js-hidden" id="accept-input">

                <div class="email-preview">
                  <p>
                  <span class="bold">Email preview sent to claimant</span>
                  <br>
                  Your claim has been approved, the money will be deposited by [payment type] within [X working days].</p>
                  </div>
                  <div class="form-group">
                    <label class="form-label-bold" for="full-name">Additional information (optional)</label>
                    <textarea type="text" class="form-control full" id="full-name"></textarea> 
                  </div>

                  <a href="" class="button">Send confirmation email to claimant</a>
                </div>

                <div class="panel panel-border-narrow js-hidden" id="request-input">

                  

                  <div class="email-preview">
                  <p>
                  <span class="bold">Email preview sent to claimant</span>
                  <br>
                  Please provide [missing information selected above] to process your claim.</p>
                  </div>

                  <div class="form-group">
                    <label class="form-label-bold" for="full-name">Additional information (optional)</label>
                    <textarea type="text" class="form-control full" id="full-name"></textarea> 
                  </div>

                  <a href="" class="button">Send request email to claimant</a>
                </div>



                <div class="panel panel-border-narrow js-hidden" id="reject-input">

                  <div class="email-preview">
                  <p>
                  <span class="bold">Email preview sent to claimant</span>
                  <br>
                  Your claim has not been approved due to [selected items above].</p>
                  </div>

                  <div class="form-group">
                    <label class="form-label-bold" for="full-name">Additional information (optional)</label>
                    <textarea type="text" class="form-control full" id="full-name"></textarea> 
                  </div>

                  <a href="" class="button">Send rejection email to claimant</a>
                </div>


              </fieldset>
            </div>
          </form>




        </main>

        {% endblock %}
