//variables
$summaryBlocks-border: 1px solid #bfc1c3;
$break-small: 414px;
$break-landscape: 736px;

//mixins

@mixin blockTitle {
    h2 {
        font-size: 1.4em;
        font-weight: bold;
    }
}

// responsive mixin

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 640px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 641px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

// main

#sub-nav {
    margin-bottom: 20px;

    li img {
        position: relative;
        top: 2px;
        right: 8px;
    }
}

span.adminLinks {
    float: right;

    li img {
        position: relative;
        top: 2px;
        right: 8px;
    }
    @include respond-to(handhelds) {
      float: left;
    }
    @include respond-to(medium-screens) {
    }
}

.filters {
  margin-bottom: 4em;
  .filter-day {
    padding: 0px;
  }
  .form-control {
    width: 100%;
  }
  #select-day {
    width: 95%;
  }
}
.summaryBlocks {
    // border-top: $summaryBlocks-border;
    @include blockTitle;

    .block1, .block2, .block3, .block4, .block5, .block6 {
      padding-top: 1em;
      border-top: 1px solid #bfc1c3;
    }
    section {
      margin-bottom: 5%;
      margin-top: 5%;
      // border-bottom: $summaryBlocks-border;
    }

    .visualisation {
        .number {
            font-size: 4em;
            font-weight: bold;
        }

        .period {
            margin-top: 5px;
        }
    }

    .delta {
        span.change.impact-number {
            font-size: 1.4em;
            font-weight: 400;
        }

        .single-stat-delta {
            font-size: 16px;
            line-height: 1.25;
        }

        .decrease:after {
            content: "\25BC";
        }

        .increase:after {
            content: "\25B2";
        }

        .decrease:after{
          display: inline-block;
          padding-right: 0.2em;
          color: #bfc1c3;
        }
        .increase:after {
            display: inline-block;
            padding-right: 0.2em;
            color: #bfc1c3;
        }
    }
}
// // end of .charts
// Table
.prisonVisitTable {
    @include blockTitle;
    padding-top: 1em;
    border-top: 1px solid #bfc1c3;

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th {
        color: #005ea5;
        font-weight: normal;

        &:first-child {
            font-weight: bold;

            a::after {
                content: "\00a0\00a0\25BC";
                font-size: 10px;
                position: relative;
                top: -0.3em;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                color: #2e8aca;
                text-decoration: underline;
            }
        }
    }

    td,
    th {
        text-align: right;
        padding: 12px 20px 9px 0;
        border-bottom: 1px solid #bfc1c3;

        &:first-child {
            text-align: left;
        }
    }

    td:first-child {
        font-weight: bold;
    }
}

.question-heading {
  font-weight: 700;
}

.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

.status {
  width: 100%;
}

.searchSection {
  border-bottom: 2px solid #ccc;
  padding-bottom: 30px;
  width: 100%;
}

.searchSection a {
  margin-right: 10px;
}

.advanced-search {
    cursor: pointer;
    margin: 0;
    margin-top: 10px;
}

.refNumber input {
  margin-bottom: 5px;
}
.refNumber a {
  margin-right: 10px;
  margin-bottom: 10px;
}
