{% extends "layout.html" %}

{% block page_title %}
  APVS Admin
{% endblock %}

{% block content %}

<main id="content" role="main">

 <ul id="sub-nav">
  
    <li><a href="index">Dashboard</a></li>
    <li>
      <a href="eligibility">Eligibility</a>
      <!-- <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul> -->
    </li>
    <li>
      <a href="claims">Claims</a>
      <!-- <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul> -->
    </li>

  </ul>

 


<a class="link-back" href="eligibility">Back</a>
  

  <div class="grid-row">

    <div class="column-two-thirds">
     <h1 class="heading-large">Eligibility Application</h1>
 <h3 class="heading-small">Date Submitted - 30/08/16</h3>
      <table>
        
        <tr>
          <th colspan="2">Visitor</th>
        </tr>

        <tr>
          <td>Name</td>
          <td>Mr Joseph Bloggs</td>
        </tr>

        <tr>
          <td>Date of Birth</td>
          <td>31/3/1980</td>
        </tr>

        <tr>
          <td>National Insurance number</td>
          <td>JL 123 123 123</td>
        </tr>

        <tr>
          <td>Home Address</td>
          <td>  House No.<br>
First line of address<br>
Second line of address<br>
Post Code</td>
        </tr>

        <tr>
          <td>Email Address</td>
          <td><a href="">j.bloggs@gov.uk</a></td>
        </tr>

        <tr>
          <td>Phone Number</td>
          <td>+4475 123 12345</td>
        </tr>

        <tr>
          <td>Prisoner Relationship</td>
          <td>
          Close Relative<br>
          Son</td>
        </tr>

        <tr>
          <td>Claiming Benefits?</td>
          <td>[Benefit Type]<br>
          <a href="">View Evidence</a></td>
        </tr>
        

      </table>



      <br>

       <table>
        
        <tr>
          <th colspan="2">Prisoner Information</th>
        </tr>

        <tr>
          <td>Prison</td>
          <td>Featherstone</td>
        </tr>

        <tr>
          <td>Prisoner Number</td>
          <td>0000001</td>
        </tr>

        <tr>
          <td>Name</td>
          <td>Mr Peter Bloggs</td>
        </tr>

        <tr>
          <td>Eligible for visitation?</td>
          <td>Yes</td>
        </tr>

        </table>

        <br>
        
        <a href="index.html" class="button orange">Request More Information</a>
        <a href="index.html" class="button red">Escalate</a>
        <a href="index.html" class="button red pull-right">Deny Eligibility</a>

        <br>
        <br>
        <a href="index.html" class="button">Confirm Eligibility</a>
      
    </div>

    <div class="column-third">

      <!-- <h2 class="heading-medium">Links</h2>
      <ul class="un-ordered-list">
        <li>
          <a href="/examples/blank-govuk">
            My Account
          </a>
        </li>
        <li>
          <a href="/examples/blank-govuk">
            Link 1
          </a>
        </li>
        <li>
          <a href="/examples/blank-govuk">
            Link 2
          </a>
        </li>
      </ul>

      <br>
      <a href="">Log Out</a> -->
    </div>

    

  </div>

</main>

{% endblock %}
