{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
      <li><a href="/beta/v2-2">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Add car hire information
      </h2>

      <p>Car hire is paid on the basis of a receipt (up to a limit of £40 per day or the equivalent public transport option, whichever is cheaper).</p>
 
<p>A mileage allowance of 13p per mile will also be paid based on the shortest return journey. </p>

      <form action="apply-add-info-1.html" method="get" class="form">

      <div class="form-group">
      <label class="form-label-bold" for="full-name">Number of days</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg 1</p>
      </div>

        <div class="form-group">
      <label class="form-label-bold" for="full-name">From</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Euston</p>
      </div>


      <div class="form-group">
      <label class="form-label-bold" for="full-name">To</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Birmingham New Street</p>
      </div>

      <div class="form-group">
      
      
<div class="form-group">
      <label class="form-label-bold" for="full-name">Rental cost</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg £20</p>
      </div>








          <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
        </form>


      </div>
    </div>
<!-- <div class="column-third">

<aside class="govuk-related-items" role="complementary">
<h2 class="heading-medium" id="subsection-title">Subsection</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="font-xsmall">
<li><a href="#">Related link</a></li>
<li><a href="#">Related link</a></li>
<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
</ul>
</nav>
</aside>

</div>
</div> -->

</main>

{% endblock %}


