{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v2-2">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
          Enter your details
        </h2>

<form action="confirm" method="get" class="form">
        <div class="form-group">
      <label class="form-label-bold" for="full-name">Reference number</label>
      <p class="form-hint">For example, APVS1234</p>
      <input type="text" class="form-control" id="full-name">
      <br>
      <br><a href="">Forgotten your reference number?</a>
    </div>

    
       

    <div class="form-group">
      <label class="form-label-bold" for="full-name">National Insurance number</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    
    <br>
    <br>
        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


