{% extends "layout.html" %}

{% block page_title %}
  APVS Admin
{% endblock %}

{% block content %}

<main id="content" role="main">

 <ul id="sub-nav">
  
    <li><a href="index">Dashboard</a></li>
    <li>
      <a href="eligibility">Eligibility</a>
      <!-- <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul> -->
    </li>
    <li>
      <a href="claims" class="active">Claims</a>
      <!-- <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul> -->
    </li>

  </ul>

<a class="link-back" href="claims">Back</a>

  <div class="grid-row">

    <div class="column-two-thirds">
     <h1 class="heading-large">Joseph Bloggs
     <span class="heading-secondary">Claim Application</span></h1>

 
       <table>
       
<tr>
  <th colspan="2">Prisoner Information</th>
</tr>
        <tr>
          <td>Prisoner number</td>
          <td>0000001</td>
        </tr>

        <tr>
          <td>Prisoner name</td>
          <td>Mr Peter Bloggs</td>
        </tr>

        <tr>
          <td>Eligible for visitation?</td>
          <td>Yes</td>
        </tr>

        </table>

        <br>

        <table>
        <tr>
  <th colspan="2">Claim Details</th>
</tr>
          <tr>
          <td>Date Submitted</td>
          <td>10/09/16</td>
        </tr>

        <tr>
          <td>Travel</td>
          <td>Train<br>
          London to Hewell<br>
          £100.00<br>
          <a href="">View Receipt</a>
          </td>
        </tr>

        <tr>
          <td>Sustenance</td>
          <td>Lunch<br>
          £5.00<br>
          <a href="">View Receipt</a>
          </td>
        </tr>

        </table>

        <br>
        
        <a href="index.html" class="button orange">Request More Information</a>
        <a href="index.html" class="button red">Escalate</a>
        <a href="index.html" class="button red pull-right">Reject</a>

        <br>
        <br>
        <a href="index.html" class="button">Confirm</a>
      
    </div>

    <div class="column-third">

      
      <table>
      <tr>
      <th colspan="2">Contact</th>
      </tr>
        <tr>
          <td>Phone number</td>
          <td>+4475 123 12345</td>
        </tr>
        <tr>
          <td>Email address</td>
          <td><a href="">j.bloggs@gov.uk</a></td>
        </tr>
      </table>
      <br>

      <table>
      <tr>
      <th colspan="2">Claim history</th>
      </tr>
        <tr>
          <td><a href="">APVS15348</a></td>
          <td>Pending</td>
        </tr>
        <tr>
          <td><a href="">APVS15342</a></td>
          <td>Accepted</td>
        </tr>
        <tr>
          <td><a href="">APVS15339</a></td>
          <td>Rejected</td>
        </tr>

        <tr>
          <td colspan="2">
            <a href="" class="link">View More</a>
          </td>
        </tr>
      </table>
      
    
    </div>

    

  </div>

</main>

{% endblock %}
