{% extends "layout.html" %}

{% block page_title %}
  APVS Admin
{% endblock %}

{% block content %}


<main id="content" role="main">

  
 
 <ul id="sub-nav">
  
    <li><a href="index" class="active">Dashboard</a></li>
    <li>
      <a href="eligibility">Eligibility</a>
      <!-- <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul> -->
    </li>
    <li>
      <a href="claims">Claims</a>
      <!-- <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul> -->
    </li>

  </ul>
  


    <h2 class="heading-medium">Dashboard</h2>
      
      
  

</main>

{% endblock %}
