{% extends "layout.html" %}

{% block page_title %}
  APVS Admin
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- <div class="breadcrumbs">
    <ol>
      <li><a href="/">GOV.UK prototype kit</a></li>
    </ol>
  </div> -->

 
 <h1 class="heading-large">Eligibility Applications</h1>
  

  <div class="grid-row">

    <div class="column-two-thirds">
      <table>
      <tr>
        <th>Ref No.</th>
        <th>Name</th>
        <th>App. Date</th>
        <th>Status</th>
        <th></th>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>
        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>
        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

        <tr>
          <td>12432</td>
          <td>Joseph Bloggs</td>
          <td>30/08/16</td>
          <td>Pending</td>
          <td><a href="admin/view-application.html">View</a></td>
        </tr>

      </table>
      
    </div>

    <div class="column-third">

      <h2 class="heading-medium">Links</h2>
      <ul class="un-ordered-list">
        <li>
          <a href="/examples/blank-govuk">
            My Account
          </a>
        </li>
        <li>
          <a href="/examples/blank-govuk">
            Link 1
          </a>
        </li>
        <li>
          <a href="/examples/blank-govuk">
            Link 2
          </a>
        </li>
      </ul>

      <br>
      <a href="">Log Out</a>
    </div>

    

  </div>

</main>

{% endblock %}
