{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="index.html">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
          Do you need someone to help you during the journey? 
        </h2>

<form action="apply-3.html" method="get" class="form">
         <div class="form-group">

 <fieldset>

            <label class="block-label" data-target="example_help">
              <input type="radio" name="help" value="yes2" id="yes2">
              Yes
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_help">
              <label for="nationality_other_countries" class="form-label">
                Select why you need help
              </label>
              <label class="block-label">
              <input type="checkbox" type="radio" type="radio" name="question2" value="Yes" id="Yes">
              Medical reasons
            </label>
            <label class="block-label">
              <input type="checkbox" type="radio" type="radio" name="question2" value="No" id="No">
              Aged 75 years or over
            </label>
            </div>

            <label class="block-label">
              <input type="radio" name="help" value="Wales" id="partner">
              No
            </label>



          </fieldset>
            
        </div>


        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


