{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/v2-4">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

 <div class="govuk-box-highlight">
        <h1 class="bold-large">Application submitted</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">APVS15348</strong>
        </p>
      </div>
      
      <p>We have sent your application confirmation by email.</p>
      <!-- <a href="" class="button">Download a copy of your application</a> -->

      
      <h3 class="heading-medium">What happens next</h3>
      <p>Your application will be assessed by the Assisted Prison Visits Unit.</p>
      <p>They will contact you either to confirm your application, or to ask for more information within 5 working days.</p>

      <p>Once your application has been confirmed you can submit further claims using your unique reference number.</p>

 <!--      <p>For more information please contact the Assisted Prison Visits Unit:</p>

<ul>
<li>Email: <a href="">assisted.prison.visits@noms.gsi.gov.uk</a> </li>
<li>Telephone: 0300 063 2100</li>
<li>Monday to Friday, 9am to 5pm </li>
<li>Find out about call charges</li>
</ul>
<br>
<ul>
<li>Or you can write to the Assisted Prison Visits Unit:</li>
<li>Assisted Prison Visits Unit </li>
<li>PO Box 2152 </li>
<li>Birmingham </li>
<li>B15 1SD</li>
</ul>
 -->

    </div>
  
      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


