{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v2-2">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
         About the person you're visiting
        </h2>



<form action="apply-7.html" method="get" class="form">

<div class="form-group">
      <label class="form-label-bold" for="full-name">Prisoner first name</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Prisoner last name</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Prisoner date of birth</legend>

        <div class="form-date">

          <p class="form-hint">For example, 18 08 1989</p>

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>

          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
          </div>
        </div>

      </fieldset>
    </div>

      <div class="form-group">
      <label class="form-label-bold" for="full-name">Prisoner number</label>
      <p class="form-hint">For example, A1234BC</p>
      <input type="text" class="form-control" id="full-name">
    </div>

<div class="form-group">
      <label class="form-label-bold" for="full-name">Name of the prison</label>
      <p class="form-hint">For example, Hewell</p>
      <input type="text" class="form-control" id="full-name">
    </div>

  

    

    

  
    


        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


