{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}


{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">

        Get help with the cost of visiting someone in prison
      </h1>

      <p>You may get help with the cost of visiting a close relative or partner in prison if you’re aged over 16.</p>

      <h3 class="heading-medium">Who can apply<h3>


        <p>You may be eligible if you receive:</p>
        <ul class="list list-bullet">
          <li>Income Support</li>
          <li>Income-based Jobseeker’s Allowance (JSA)</li>
          <li>Employment and Support Allowance (ESA)</li>
          <li>Universal Credit</li>
          <li>Working Tax Credit, Child Tax Credit or Pension Credit</li>
        </ul>

        <p>or if you have an HC2 or HC3 Health Certificate.</p>

        <a href="">More about who can apply</a>

        <h4 class="heading-medium">What you can get help with</h4>

        <ul class=" list list-bullet">
          <li>travel costs, for example train tickets, petrol or car hire</li>
          <li>overnight stays</li>
          <li>other costs to do with your visit - for example food, childminding, a volunteer driver or an escort if needed</li>
        </ul>

        <a href="" class="link">More about what you can get help with</a>


        <br>
        <br>
        <p>
          <a class="button button-start" href="v1/start.html" role="button" id="start">Start now</a>
        </p>

        <h3 class="heading-small">Before you start</h3>

        <p>You’ll need:</p>
        <ul class=" list list-bullet">
<li>your National Insurance number</li>
<li>the name of the prison and the prisoner number of the person you’re visiting</li>
<li>details of your claim, for example tickets</li>
</ul>
<p>If you’ve used this service before you can return to a claim with your 8-digit reference number.</p>

<h3 class="heading-small">Other ways to apply</h3>

        <p>You can complete and send a <a href="">paper application form</a> to the Assisted Prison Visits Unit.</p>


      </div>
      <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">{% if serviceName %} {{ serviceName }} {% endif %}</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="">How to apply</a></li>
              <li><a href="">Eligibility</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
        </aside>



      </div>

    </main>

    {% endblock %}


