{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v5">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

     <h2 class="heading-large">
         What kind of transport did you use?
        </h2>


        <p>You can select more than one. You will need to show us receipts or tickets for all parts of the journey, except for car or motorcycle travel.</p>

<form action="apply-add-info.html" method="get" class="form">
         <div class="form-group">
          <fieldset>

            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Car/Motorcycle
            </label>
            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Train (standard class)
            </label>
            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Bus
            </label>
            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Car hire
            </label>


            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Taxi
            </label>

            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Ferry
            </label>

            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Plane
            </label>





          </fieldset>

           <h2 class="heading-medium">
         Did you have any other expenses?
        </h2>

        <p>You may be able to get help paying for light refreshments and accommodation.</p>

        <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Light refreshment
            </label>

            <label class="block-label selection-button-radio">
              <input type="checkbox" name="category">
              Accommodation
            </label>

        </div>


        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div>
</form>


    </div>
  </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}
