{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v5">Home</a></li>
    </ol>
  </div>

 

    <h2 class="heading-large">
        Your claim details
      </h2>


<p>Please add the relevant documentation associated with your claim.</p>
      <table class="col-2">
        <tr>
          <td>Visitor</td>
          <td>Joe Bloggs</td>
        </tr>

        <tr>
          <td>Benefit information</td>
          <td>Working Tax credits or Child tax credit with disability <br><span class="text-success"> Evidence uploaded</span> </td>
        </tr>

      </table>


<h2 class="heading-medium">Your visit</h2>

      <table class="col-2">
        

        <tr>
          <td>Prisoner name</td>
          <td>Paul Bloggs</td>
        </tr>

        <tr>
          <td>Prisoner number</td>
          <td>0000001</td>
        </tr>

        <tr>
          <td>Prison</td>
          <td>Hewell</td>
        </tr>

        <tr>
          <td>Date of visit</td>
          <td>Friday 28 October</td>
        </tr>

        <tr>
          <td>Visit confirmation</td>
          <td><span class="text-success">Visit confirmation uploaded</span></td>
        </tr>

      </table>
    

      <br>

      <form action="apply-10.html" method="get" class="form">

        <table>
          <tr>
            <th>Expense(s)</th>
            <th>Amount</th>
            <th></th>
          </tr>

          <tr>
            <td><span class="bold">Train Journey </span> 
            <br>Birmingham New Street to Redditch - Return </td>
            <td>£14</td>

            
            <td><span class="text-success">Receipt uploaded</span> </td>
          </tr>
          <tr class="warning">
            <td><span class="bold">Taxi Journey </span> <br>Redditch to Hewell</td>
            <td>£8.50</td>
            
            <td><span class="text-warning">Reciept required</span> <a href="" class="button grey pull-right">Add</a></td>
          </tr>

          <tr>
            <td><span class="bold">Taxi Journey </span> <br>Hewell to Redditch</td>
            <td>£10</td>
            
            <td><span class="text-success">Receipt uploaded</span> </td>
          </tr>

         





        </table>

        <h1 class="heading-medium">Additional information</h1>
      <ul class="claim-dialog-public">
          

          <li class="caseworker">
            <h2>Caseworker</h2>
            
            <p>Please provide a higher quality image of your taxi journey, Redditch to Hewell reciept.</p>
            <p class="time">24/10/16 - 14:20</p>
          </li>

          <br>
          
          
        </ul>

          <div class="form-group">
                    <label class="form-label-bold" for="full-name">Send a message to your caseworker</label>
                    <textarea type="text" class="form-control full" id="full-name"></textarea> 
                  </div>

                  <a href="index.html" class="button grey">Attach a file</a>

                  <br>
                  <br>
                  <a href="index.html" class="button">Send message</a>
  


  </main>

  {% endblock %}


