{% extends "layout.html" %}

{% block page_title %}
APVS Admin
{% endblock %}

{% block content %}


<main id="content" role="main">



  <ul id="sub-nav">

    <li><a href="index">Dashboard</a></li>
    <li>
      <a href="" class="active">Claims</a>
<!-- <ul>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
</ul> -->
</li>

</ul>
<br>

<div class="form-group">
      <label class="form-label-bold" for="full-name">Reference Number</label>
      <input type="text" class="form-control" id="full-name">
      <a href="" class="button">Search</a>
    </div>

<ul class="sub-tabs">
  <li><a href="index" class="active">New (12)</a></li>
  <li><a href="admin/claims">Updated (8)</a></li>
  <li><a href="admin/claims">In progress (6)</a></li>
</ul>



<table class="table">
  <tr>
    <th>Ref No.</th>
    <th>Name</th>
    <th>Submitted</th>
    <th>Status</th>
    <th></th>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>
  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>
  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

  <tr>
    <td>AVPS1234</td>
    <td>Joseph Bloggs</td>
    <td>30/09/16 - 10:24</td>
    <td>Pending</td>
    <td><a href="view-claim.html">View</a></td>
  </tr>

</table>



<!-- <div class="column-third">

<h2 class="heading-medium">Filter</h2>
<ul class="filter-claims">
<li>
<a href="" class="active">
Pending <span>10</span>
</a>
</li>
<li>
<a href="">
Approved <span>10</span>
</a>
</li>
<li>
<a href="">
Rejected <span>10</span>
</a>
</li>
</ul>
</div> -->




</main>

{% endblock %}
