<div class="admin">
  {% extends "layout.html" %}

  {% block page_title %}
  APVS Admin
  {% endblock %}

  {% block content %}


  <main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    

<h1 class="heading-large">Download payment files</h1>

<div class="grid-row">
    <div class="column-one-half">

    <h3 class="heading-medium">Access Pay file - refunds</h3>
    <a href="" class="link">Download file for 25/11/2016</a>

    <br>
    <br>
    <br>

    <div class="form-group">
        <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Previous AccessPay refund files</span></summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">


            <ul class="list list-bullet">
              <li><a href="" class="link">Download file for 24/11/2016</a></li>
              <li><a href="" class="link">Download file for 23/11/2016</a></li>
              <li><a href="" class="link">Download file for 22/11/2016</a></li>
              <li><a href="" class="link">Download file for 21/11/2016</a></li>
            </ul>


          </div>
        </details>
      </div>

    </div>

    <div class="column-one-half">

    <h3 class="heading-medium">ADI Journal</h3>
    <a href="" class="link">Download transactions for 25/11/2016</a>

    <br>
    <br>
    <br>

    <div class="form-group">
        <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Previous ADI Journals</span></summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">


            <ul class="list list-bullet">
              <li><a href="" class="link">Download file for 24/11/2016</a></li>
              <li><a href="" class="link">Download file for 23/11/2016</a></li>
              <li><a href="" class="link">Download file for 22/11/2016</a></li>
              <li><a href="" class="link">Download file for 21/11/2016</a></li>
            </ul>


          </div>
        </details>
      </div>

    </div>
  </div>

<hr>
<div class="grid-row">
  <div class="column-one-half">

    <h3 class="heading-medium">Another list</h3>
    <a href="" class="link">Download transactions for 25/11/2016</a>

    <br>
    <br>
    <br>

    <div class="form-group">
        <details role="group">
          <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Another list</span></summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">


            <ul class="list list-bullet">
              <li><a href="" class="link">Download file for 24/11/2016</a></li>
              <li><a href="" class="link">Download file for 23/11/2016</a></li>
              <li><a href="" class="link">Download file for 22/11/2016</a></li>
              <li><a href="" class="link">Download file for 21/11/2016</a></li>
            </ul>


          </div>
        </details>
      </div>

    </div>
    </div>
  

<h2></h2>

</main>



{% endblock %}

</div>