{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="index.html">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


      <h2 class="heading-large">
        Relationship with the prisoner
      </h2>

      <form action="apply-3" method="get" class="form">
        <div class="form-group">
          <fieldset>

            <p> Are you the prisoner’s:</p>

            <label for="relationshipTrue" class="block-label" data-target="example">
              <input type="radio" name="relationship" id="relationshipTrue" value="true">
              Close Relative
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example">
              <label for="nationality_other_countries" class="form-label">
                What is your relationship to the person you are visiting?
              </label>
              <input class="form-control" type="text" id="relationshipTrue">
            </div>



            <label for="partner" class="block-label" data-target="example_partner">
              <input type="radio" name="relationship" id="relationshipTrue" value="true">
              Partner 
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_partner">
              <label for="nationality_other_countries" class="form-label">
                Were you living as a couple, in an established relationship, immediately before the period of prison custody was imposed
              </label>
              <label class="block-label">
                <input type="radio" type="radio" name="relationship" id="relationshipTrue" value="true">
                Yes 
              </label>
              <label class="block-label">
                <input type="radio" type="radio" name="relationship" id="relationshipTrue" value="true">
                No 
              </label>
            </div>



            <label class="block-label">
              <input type="radio" name="relationship" id="relationshipTrue" value="true">
              Sole Visitor
            </label>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="form-group">
            <p>Or:</p>

            <p>Are you escorting someone to the prison?</p>

          </div>
          <div class="form-group">

            <label class="block-label" data-target="escort" name="relationship" id="relationshipFalse" value="false">
              <input type="radio" name="relationship" id="relationshipFalse" value="false">
              Yes
            </label>

            <div class="panel panel-border-narrow js-hidden" id="escort">
              <label for="nationality_other_countries" class="form-label">
                Who are you escorting?
              </label>
              <label class="block-label">
                <input type="checkbox" type="radio" type="radio" name="relationship" id="relationshipFalse" value="false">
                An adult
              </label>
              <label class="block-label">
                <input type="checkbox" type="radio" type="radio" name="relationship" id="relationshipFalse" value="false">
                Someone else’s child/children
              </label>
              <label class="block-label">
                <input type="checkbox" type="radio" type="radio" name="relationship" id="relationshipFalse" value="false">
                My child/children
              </label>
            </div>

            <label class="block-label">
              <input type="radio" name="relationship" id="relationshipFalse" value="false">
              No
            </label>



          </fieldset>

        </div>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div> 
      </form>

    </div>
<!-- <div class="column-third">

<aside class="govuk-related-items" role="complementary">
<h2 class="heading-medium" id="subsection-title">Subsection</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="font-xsmall">
<li><a href="#">Related link</a></li>
<li><a href="#">Related link</a></li>
<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
</ul>
</nav>
</aside>

</div>
</div> -->

</main>

{% endblock %}


