{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
      <li><a href="/v3">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

     <h2 class="heading-large">
       Add more information
     </h2>

    

     <form action="apply-basket.html" method="get" class="form">
 <p>Add the details of your <span class="bold">train</span> journey</p>
     <div class="form-group">
      <label class="form-label-bold" for="full-name">Time of departure</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg 10am</p>
      </div>

      <div class="form-group">
      <label class="form-label-bold" for="full-name">Journey started at</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Euston</p>
      </div>


      <div class="form-group">
      <label class="form-label-bold" for="full-name">Journey finished at</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Birmingham New Street</p>
      </div>

      <div class="form-group">
      
      <label class="form-label-bold" for="full-name">Return journey?</label>
        
        <div class="form-group">
          <fieldset>


            <label for="No" class="block-label">
              <input type="radio" name="eligibilityNo" value="No" id="No">
              No
            </label>

          </fieldset>
          </div>
<div class="form-group">
      <label class="form-label-bold" for="full-name">Cost of ticket</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg £20</p>
      </div>


   


       </div>


     <p>Add the details of your <span class="bold">taxi</span> journey</p>

    

      <div class="form-group">
      <label class="form-label-bold" for="full-name">Journey started at</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Birmingham New Street</p>
      </div>


      <div class="form-group">
      <label class="form-label-bold" for="full-name">Journey finished at</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Hewell</p>
      </div>

      
<div class="form-group">
      <label class="form-label-bold" for="full-name">Cost of taxi</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg £20</p>
      </div>

      <div class="form-group">
      
   
        
        <div class="form-group">
          <fieldset>


            <label for="taxi-journey" class="block-label">
              <input type="radio" name="eligibilityNo" value="taxi-journey" id="taxi-journey">
              Add another taxi journey
            </label>

          </fieldset>
          </div>

          <br>
          <br>
          <Br>
          <br> 
          <Br>
          <br>  
  <p>Add the details of your <span class="bold">car</span> journey</p>

  <div class="form-group">
          <fieldset>

            <label for="car-hire" class="block-label">
              <input type="radio" name="eligibilityNo" value="car-hire" id="car-hire">
              It was a hire car
            </label>


          </fieldset>
          </div>

    

      <div class="form-group">
      <label class="form-label-bold" for="full-name">Journey started at</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Birmingham New Street</p>
      </div>


      <div class="form-group">
      <label class="form-label-bold" for="full-name">Journey finished at</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Hewell</p>
      </div>

      

     
      
   
        
        <div class="form-group">
          <fieldset>


            <label for="car-additional" class="block-label">
              <input type="radio" name="eligibilityNo" value="car-additional" id="car-additional">
              Add car park
            </label>

            <label for="car-additional" class="block-label">
              <input type="radio" name="eligibilityNo" value="car-additional" id="car-additional">
              Add toll bridge
            </label>



          </fieldset>
          </div>




   





      <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
    </form>


  </div>
</div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


