{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v3-alt-start">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
          Does someone assist you during your journey?
        </h2>

<form action="apply-3.html" method="get" class="form">
         <div class="form-group">

 <fieldset>

            <label class="block-label">
              <input type="radio" name="help" value="Wales" id="partner">
              Yes, I have a medical reason
            </label>

            <label class="block-label">
              <input type="radio" name="help" value="Wales" id="partner">
              Yes, I'm 75 or older
            </label>

            <label class="block-label">
              <input type="radio" name="help" value="Wales" id="partner">
              No
            </label>



          </fieldset>
            
        </div>


        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


