{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v3-alt-start">Home</a></li>
    </ol>
  </div>

  

  <div class="grid-row">


    <div class="column-one-quarter">
      <h1 class="heading-large push-top">
      <span class="heading-secondary">Reference no.</span>4VTE9ZM
    </h1>
    </div>

    <div class="column-one-quarter">
    <span class="text-secondary">Prisoner name</span>
    <div class="bold-small">Joe Smith</div>

    <span class="text-secondary">Prisoner date of birth</span>
    <div class="bold-small">01/01/1970</div>
  </div>

  <div class="column-one-quarter">
    <span class="text-secondary">Prison</span>
    <div class="bold-small">Hewell</div>
    <span class="text-secondary">Prisoner no.</span>
    <div class="bold-small">A123456</div>
  </div>

  
    <div class="column-one-quarter">
    
      <a href="confirm"><input type="submit" name="commit" value="Start a new claim" class="button"></a> 
      <br>
      <br>
      <a href="" class="link">make a claim for a different prisoner</a>
    </div>

  </div>


 <h3 class="heading-medium">
          Your claim(s)
        </h3>

        <table>
            <tr>
              <th>Date of claim</th>
              <th>Status</th>
              <th></th>
            </tr>
            
            <tr>
              <td>20/09/16</td>
              <td>Pending</td>
              <td><a href="view-claim.html">View</a></td>
            </tr>
            <tr class="warning">
              <td>17/09/16</td>
              <td>More information required</td>
              <td><a href="view-claim.html" class="button grey">Add information</a></td>
            </tr>
            <tr>
              <td>12/09/16</td>
              <td>Complete</td>
              <td><a href="view-claim.html">View</a></td>
            </tr>
        </table>



  </main>

  {% endblock %}


