{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v6">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
         Enter your bank account details to receive payment
        </h2>


        <h3 class="heading-small">Bank Details</h3>
        <p>We don’t store this information. You will need to enter this for each claim you make</p>

<div class="form-group">
      <label class="form-label-bold" for="full-name">Account Number</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Sort Code</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <label for="payout-show" class="block-label selection-button-checkbox" data-target="payout" >I dont have a bank account
      <input id="payout-show" type="checkbox" name="category"></label>
      </div>

      <div id="payout" class="js-hidden">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">If you don't have a bank account</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">


              <ul class=" list list-bullet">
                <li>Post Office payout is an easy way of claiming back your visit costs
                </li>
                <li>You will receive a unique reference barcode which can be scanned in any post office branch</li>
                <li>The reference barcode will be sent out to the address you have provided </li>
              </ul>


            </div>
          </details>

        <a href="" class="button grey push-right">Update Address</a>

              <p> 12 St**** <br>
                  Belfast <br>
                  BT** 1** </p>

      </div>

      <h2 class="heading-medium">
     Declaration
   </h2>

   <p>I declare that:</p>
   <ul class="list list-bullet">
     <li>The information I have given is true to the best of my knowledge </li>
     <li>The evidence I’ve given is genuine and the most recent version</li>
     <li>I authorise the APVU to make any necessary checks with the
     Department for Work and Pensions (DWP)</li>
     <li>I understand that a false declaration may lead to prosecution and
     a ban from claiming again</li>
     <li>I agree to the terms of service as documented in the <a href="/terms-and-conditions" target="_blank">terms and conditions</a></li>
   </ul>

   <div id="terms-and-conditions" class="form-group">
     <label for="terms-and-conditions-input" class="block-label">
       <input id="terms-and-conditions-input"
              type="checkbox"
              value="yes">
       <span class="heading-small"> I agree to the declaration</span>
     </label>
   </div>
<form action="apply-11.html" method="get" class="form">
        <div class="form-group"><input type="submit" name="commit" value="Submit Application" class="button"></div>
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}
