{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v6">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
         Enter your bank account details to receive payment
        </h2>


        <h3 class="heading-small">Bank Details</h3>
        <p>We don’t store this information. You will need to enter this for each claim you make</p>


    <div class="form-group">

    <fieldset>    
     
    
         
          <label for="bank-account" class="block-label selection-button-radio" data-target="bank-account-form">   
          <input type="radio" name="relationship" value="Bank Account" id="bank-account">   
          Bank Account  
          </label>    
    
      <div class="panel panel-border-narrow js-hidden" id="bank-account-form">    
      <div class="form-group">    
          <label class="form-label-bold" for="full-name">Account Number</label>      
          <input type="text" class="form-control" id="full-name"> 

           <label class="form-label-bold" for="full-name">Sort Code</label>      
          <input type="text" class="form-control" id="full-name">    
        
      </div>          
      </div> 
     
            
          <label for="bank-account" class="block-label selection-button-radio" data-target="payout-form">   
          <input type="radio" name="relationship" value="Bank Account" id="bank-account">   
          I don't have a bank account 
          </label>    
    
      <div class="panel panel-border-narrow js-hidden" id="payout-form">    
      <details>
            <summary><span class="summary">If you don't have a bank account</span>
              <span class="visually-hidden">If using a screen reader such as JAWS if having difficulty accessing this list then try pressing control + space to expand the list then L + down to read list items</span>
            </summary>
            <div class="panel panel-border-narrow">
              <ul class=" list list-bullet">
                <li>Post Office payout is an easy way of claiming back your visit costs
                </li>
                <li>You will receive a unique reference barcode which can be scanned in any post office branch</li>
                <li>The reference barcode will be sent out to the address you have provided </li>
              </ul>
            </div>
          </details>

          <p>Address to be sent to:</p>
          <p>23 Street Name
          <br>Belfast
          <br>BT123BT</p>




    </fieldset>
    </div>
        
        <form action="apply-12.html" method="get" class="form">
        <div class="form-group"><input type="submit" name="commit" value="Submit Application" class="button"></div>
</form>

      </div>

     
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}
