{% extends "layout.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %} {% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
      {{ fileUploadGuidingText[document].title }}
      </h2>
      <p class="text-top">{{ fileUploadGuidingText[document].guidingText }}</p>

      <p id="device" class="text-top">Capturing using the camera on your tablet or phone is the quickest and easiest way of doing this. Just follow the four simple steps below.</p>
    </div>
  </div>
  <form action="{{ URL }}" method="post" class="form">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div>
          <p class="document-preview-text hidden">
            Preview of the document to be uploaded:
          </p>
          <div>
            <img id="document-preview" class="hidden" src="">
            <br>
            <p id='document-name' class="column-two-quarter"></p>
          </div>
        </div>

        <table class="instruction">
          <tr>
            <td><img src="/public/images/step1.png" alt="">1. Capture</td>
            <td><img src="/public/images/step2.png" alt="">2. Connect and transfer</td>
            <td><img src="/public/images/step3.png" alt="">3. Click "Choose image"</td>
            <td><img src="/public/images/step4.png" alt="">4. Choose correct image</td>
          </tr>
        </table>

        <table class="mobile-instruction">
          <tr>
            <td><img src="/public/images/mobile_step1.png" alt="">1. Tap "Capture image"</td>
            <td><img src="/public/images/mobile_step2.png" alt="">2. Tap "Camera" or "Take Photo"</td>
          </tr>
          <tr>
            <td><img src="/public/images/mobile_step3.png" alt="">3. Compose and take photo</td>
            <td><img src="/public/images/mobile_step4.png" alt="">4. Use photo or retake</td>
          </tr>
        </table>

        <div>
          <div class="form-group">
            <label id="label" class="custom-file-upload">
              <div id='choose-file'>Choose image</div>
              <input id="document" type="file" name="document"/>
            </label>
          <div>
          <p class="mobile-instruction">After tapping the button above, follow prompts on your device to complete the remaining steps</p>
        </div>

        <div class="document-preview-text hidden">
          <br>
          <p>
            Tap “Continue”, or “Remove” if you want to choose another image.
          </p>
        </div>

        <div id="alternative" class="form-group" {% if hideAlternative %} hidden {% endif %}>
          <br>
          <h4 class="heading-small">Can’t upload now?</h4>

          <label for="Post" class="block-label">
            <input type="radio" name="alternative" value="post-later" id="Post">
            <span class="heading-small">Send by post</span>
            <br>It will take 10 or more days longer to process your claim
          </label>

          <label for="UploadLater" class="block-label">
            <input type="radio" name="alternative" value="upload-later" id="UploadLater">
            <span class="heading-small">Upload later</span>
            <br> You will get a reference number allowing you to return and complete your application
          </label>
        </div>

        <div class="form-group">
          <input id="file-upload-submit" type="submit" name="commit" value="Continue" class="button">
          <a id="remove-file-upload" class="button grey pull-right" href="{{ URL }}">Remove</a>
        </div>
      </div>
    </div>
  </form>
</main>
{% endblock %}
