{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
      <li><a href="/beta/v6">Home</a></li>
    </ol>
  </div>



  <div class="grid-row">
    <div class="column-two-thirds">
<h1 class="heading-large">
            Update your address
          </h1>




      <form action="apply-10.html" method="get" class="form">


        <div class="form-group">
          <label class="form-label" for="full-name">House number and street</label>
          <input type="text" class="form-control" id="full-name">
        </div>


        <div class="form-group">
          <label class="form-label" for="full-name">Town</label>
          <input type="text" class="form-control" id="full-name">
        </div>

        <div class="form-group">
          <label class="form-label" for="full-name">County</label>
          <input type="text" class="form-control" id="full-name">
        </div>

        <div class="form-group">
          <label class="form-label" for="full-name">Postcode</label>
          <input type="text" class="form-control" id="full-name">
        </div>

         <div class="form-group">
          <label class="form-label" for="full-name">Country</label>
          <input type="text" class="form-control" id="full-name">
        </div>


        <br>
        <br>

        <div class="form-group"><input type="submit" name="commit" value="Save" class="button"></div>
        <a href="" class="link">Cancel</a>
      </form>

    </div>
<!-- <div class="column-third">

<aside class="govuk-related-items" role="complementary">
<h2 class="heading-medium" id="subsection-title">Subsection</h2>
<nav role="navigation" aria-labelledby="subsection-title">
<ul class="font-xsmall">
<li><a href="#">Related link</a></li>
<li><a href="#">Related link</a></li>
<li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
</ul>
</nav>
</aside>

</div>
</div> -->

</main>

{% endblock %}
