{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/index.html">Prototype Index</a></li>
<li><a href="/beta/v6">Home</a></li>
    </ol>
  </div>


        <h2 class="heading-large">
          Check your information
        </h2>

        <!-- <div class="form-group">
        <details>
          <summary><span class="summary">What does this mean?</span></summary>
          <div class="panel panel-border-narrow">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labo Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </details>
      </div> -->


      <hr>
      <a href="" class="button grey push-right">Change your details</a>


      <p>Your name: <span class="bold">Mr Chris Si**</span></p>


      <p>Your address: <span class="bold">1 Street****, London, N7***</span></p>



      <p>You receive:<span class="bold">
      Income Support</span></p>

      <p>You're the prisoner's: <span class="bold">Close relative</span></p>

      <p>You're visiting:
      <span class="bold">Joe Bloggs</span></p>
      <p>Prisoner number: <span class="bold">0000001</span></p>

      <p>Prison Location:
      <span class="bold">Hewell</span></p>

      <hr>

      <a href="change-contact-details.html" class="button grey push-right">Change contact details</a>

      <p>Contact email address: <span class="bold">chris.si**@gov.uk</span></p>

      <p>Phone number: <span class="bold">075114567**</span></p>

<hr>



        <div class="form-group">
          <fieldset>

            <label for="Yes" class="block-label selection-button-radio">
              <input type="checkbox" name="eligibilityNo" value="Yes" id="Yes">
              Confirm these details are correct
            </label>

          </fieldset>
          </div>



        <a href="apply-8"><input type="submit" name="commit" value="Continue" class="button disabled"></a>


      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}
