{% extends "layout.html" %}

{% block page_title %}
  APVS Admin
{% endblock %}

{% block content %}


<main id="content" role="main">

  
 
 
  


    <h2 class="heading-medium"></h2>

    <div class="govuk-box-highlight orange">
        <h1 class="bold-large">More information required</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">APVS15348</strong>
          </p>
     
      </div>
      

      <p>To process your recent claim we require you to enter more information.</p>
        <!-- <p>
          Your reference number is <br>
          <strong class="heading-medium">APVS15348</strong>
          </p> -->
          

         <a href="start" class="button">Enter information</a>
      
  

</main>

{% endblock %}
