{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="index.html">Home</a></li>
      <li><a href="">Check Eligibility</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
         Do you claim or receive any of the following?
        </h2>

<p>Please select from the following options:</p>

<form action="el-yes" method="get" class="form">
        <div class="form-group">
          <fieldset>

          

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Income Support
            </label>

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Jobseeker’s Allowance (Income based)
            </label>

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Employment and Support Allowance (Income related)
            </label>

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Universal Credit (and you earn less than £1,250 a month)
            </label>

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Working Tax credits or Child tax credit with disability
            </label>

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Pension Credit
            </label>

            
            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              Health Certificate (HC2 or HC3)
            </label>

            <label for="Yes" class="block-label">
              <input type="radio" name="Yes" value="Yes" id="Yes">
              None of the above
            </label>

          </fieldset>
          </div>



        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


