{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>



      <h2 class="heading-large">Eligibility Criteria for APVS</h2>

      You may be able to get help with the cost of visiting a close relative or partner in prison if you’re aged over 18, are on certain benefits or have a low income.

      <h3 class="heading-medium">Eligibility<h3>

        <h4 class="heading-small">Relationship</h4>

        <p>You may be eligible if you are the prisoner’s:</p>
        <ul class="list list-bullet">
          <li>Close relative</li>
          <li>Partner</li>
          <li>Sole visitor</li>
          <li>Escort to a qualifying child or young person</li>
          <li>Escort to a qualifying adult</li>
        </ul>

<h4 class="heading-small">Income/Benefits</h4>

<p>You may be eligible if you have a relationship with the prisoner (as defined above), and if you (or someone on your behalf) hold a Health Certificate (2 or 3), or are in receipt of one of the following benefits:</p>

<ul class="list list-bullet">
<li>Income Support</li>
<li>Income-based Jobseeker’s Allowance</li>
<li>Employment and Support Allowance</li>
<li>Universal Credit (and you earn less than £6,000 a year)</li>
<li>Tax credits</li>
<li>Pension Credit</li>
</ul>

<p>Check your <a href="">eligibility for assisted prison visits</a> before you apply.</p>

<p>You might not need to answer all the questions, depending on your circumstances. </p>

        <p>
          <a class="button button-start" href="#" role="button">Start now</a>
        </p>

        <h2 class="heading-medium">Before you start</h2>
<p>You’ll need to have:</p>
        <ul class="list list-bullet">
          <li>Your National Insurance number</li>
<li>Prison number of the prison where the prisoner related to you is held</li>
<li>A valid award notice (if claiming Universal credit, child tax credit, pension credit or health certificate)</li>
<li>Proof of parentage - eg Long birth certificate (if acting as an escort for the prisoner's child)</li>
<li>Letter from the doctor (if acting as a medical escort for another adult who qualifies for assistance)</li>
        </uL>






<p>You might also have to give details about ....</p>

<h2 class="heading-medium">Other ways to apply</h2>

<p>You can apply by filling in a paper form instead.</p>

<p>You will need to complete the paper form and send it to the address on the form to get help with travel costs.</p>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


