{% extends "layout.html" %}

{% block page_title %}
    APVS Admin
{% endblock %}

{% block content %}

    <main id="content" role="main">

        {% include "includes/phase_banner_beta.html" %}

        <ul id="sub-nav">

            <li>
                <a href="index">Dashboard</a>
            </li>
            <li>
                <a href="" class="active">Claims</a>
                <!-- <ul>
<li><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
</ul> -->
            </li>

        </ul>

        <div class="grid-row">
            <div class="column-one-half grid-example">
                <div class="form-group refNumber">
                    <legend>
                        <span class="question-heading">
                            Ref.number
                        </span>
                    </legend>
                    <label class="selection-button selection-button-inline" for="input-refNumber">
                        <input type="text" name="refNumber" class="form-control" id="input-refNumber"/>
                    </label>
                    <a class="button search">Search</a>
                    <br>
                    <a class="link advanced-search">Advanced search</a>
                </div>
            </div>

            <div class="column-one-half grid-example">
                <div class="form-group prison" style="display: none;">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Prison name
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control autocomplete" id="prison-name">
                        </span>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="grid-row nameAndNI" style="display: none;">
            <div class="column-one-half grid-example">
                <div class="form-group">
                    <legend>
                        <span class="question-heading">
                            Name
                        </span>
                    </legend>
                    <label class="selection-button selection-button-inline" for="input-refNumber">
                        <input type="text" name="name" class="form-control" id="input-name" checked="checked"/>
                    </label>
                </div>
                <div class="form-group dateFrom">
                    <legend>
                        <span class="question-heading">
                            From
                        </span>
                    </legend>
                    <span>
                        <input type="text" class="form-control" id="datepicker1">
                    </span>
                </div>
            </div>

            <div class="column-one-half grid-example">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                National Insurance Number
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control" id="prison-ni">
                        </span>
                    </fieldset>
                </div>
                <div class="form-group dateTo">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                To
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control" id="datepicker2">
                        </span>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="grid-row approvalAndType" style="display: none;">
            <div class="column-one-half grid-example">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Mode of Approval
                            </span>
                        </legend>

                        <label for="autoApproval" class="block-label selection-button-checkbox inline">
                            <input type="checkbox" name="autoApproval" id="autoApproval">
                            Auto-Approval
                        </label>
                        <label for="manulApproval" class="block-label selection-button-checkbox inline">
                            <input type="checkbox" name="manulApproval" id="manulApproval">
                            Manual-Approval
                        </label>
                    </fieldset>
                </div>
            </div>
            <div class="column-one-half grid-example">
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Type of claim
                            </span>
                        </legend>

                        <label for="visitInPast" class="block-label selection-button-checkbox inline">
                            <input type="checkbox" name="visitInPast" id="visitInPast">
                            Visit in past
                        </label>
                        <label for="visitInFuture" class="block-label selection-button-checkbox inline">
                            <input type="checkbox" name="visitInFuture" id="visitInFuture">
                            Visit in future
                        </label>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group status" style="display: none;">
          <div class="grid-row">
            <div class="column-one-third">
            <fieldset>
                <legend>
                    <span class="question-heading">
                        Status
                    </span>
                </legend>

                <label for="statusPending" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusPending" id="statusPending">
                    Pending
                </label>
                <label for="statusNew" class="block-label selection-button-checkbox inline statusNew">
                    <input type="checkbox" name="statusNew" id="statusNew">
                    New
                </label>
                <label for="statusInProgress" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusInProgress" id="statusInProgress">
                    In-Progress
                </label>
              </div>
              <div class="column-one-third">
                <br>
                <label for="statusApproved" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusApproved" id="statusApproved">
                    Approved
                </label>
                <label for="statusRequestedInfo" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusRequestedInfo" id="statusRequestedInfo">
                    Requested Info
                </label>
                <label for="statusPaid" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusPaid" id="statusPaid">
                    Paid
                </label>
              </div>
              <div class="column-one-third">
                <br>
                <label for="statusRejected" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusRejected" id="statusRejected">
                    Rejected
                </label>
                <label for="statusAutoApproved" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusAutoApproved" id="statusAutoApproved">
                    Auto-Approved
                </label>
                <label for="statusManuallyApproved" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="statusManuallyApproved" id="statusManuallyApproved">
                    Manually-Approved
                </label>
              </div>
            </div>
            </fieldset>
        </div>

        <!-- MORE OPTIONS -->
        <!-- MORE OPTIONS -->
        <!-- MORE OPTIONS -->
        <div class="form-group geography" style="display: none;">
            <fieldset>
                <legend>
                    <span class="question-heading">
                        Geography (Visit rules)
                    </span>
                </legend>

                <label for="england" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="england" id="england">
                    England
                </label>
                <label for="scotland" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="scotland" id="scotland">
                    Scotland
                </label>
                <label for="northernIreland" class="block-label selection-button-checkbox inline">
                    <input type="checkbox" name="northernIreland" id="northernIreland">
                    Northern Ireland
                </label>
            </fieldset>
        </div>

        <div class="grid-row variousDates" style="display: none;">
            <div class="column-one-half">
                <div class="form-group dateOfVisit">
                    <legend>
                        <span class="question-heading">
                            Date of visit
                        </span>
                    </legend>
                    <span>
                        <input type="text" class="form-control" id="dateOfVisit">
                    </span>
                </div>
                <div class="form-group submissionDate">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Claim submission date
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control" id="submissionDate">
                        </span>
                    </fieldset>
                </div>
                <div class="form-group paidAmountFrom pound-wrapper">
                    <fieldset>
                        <legend>
                            <label class="form-label-bold" for="form-control">Paid amount from</label>
                        </legend>
                        <span>£</span>
                        <input type="text" class="form-control">
                    </fieldset>
                </div>
                <div class="form-group prisonerNumber">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Prisoner Number
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control" id="prisonerNumber">
                        </span>
                    </fieldset>
                </div>
            </div>
            <div class="column-one-half">
                <div class="form-group approvalDate">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Claim approval Date
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control" id="approvalDate">
                        </span>
                    </fieldset>
                </div>
                <div class="form-group rejectionDate">
                    <fieldset>
                        <legend>
                            <span class="question-heading">
                                Claim rejection date
                            </span>
                        </legend>
                        <span>
                            <input type="text" class="form-control" id="rejectionDate">
                        </span>
                    </fieldset>
                </div>
                <div class="form-group paidAmountTo pound-wrapper">
                    <fieldset>
                        <legend>
                            <label class="form-label-bold" for="form-control">Paid amount to</label>
                        </legend>
                        <span>£</span>
                        <input type="text" class="form-control">
                    </fieldset>
                </div>
                <div class="form-group assistedDigital">
                    <fieldset>
                        <!-- <legend>
                            <span class="question-heading">
                                Assisted Digital Claim
                            </span>
                        </legend> -->
                        <label for="assistedDigitalClaim" class="block-label selection-button-checkbox inline">
                            <input type="checkbox" name="assistedDigitalClaim" id="assistedDigitalClaim">
                            Assisted Digital Claim
                        </label>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group searchSection" style="display:none;">
            <a class="button search">Search</a>
            <a class="link advanced-search">Advanced search</a>
            <a class="link advanced-more">More options</a>
        </div>

        <ul class="sub-tabs">
            <li class="newTab">
                <a href="index" class="active">New
                    <span class="badge">2</span>
                </a>
            </li>
            <li class="updatedTab">
                <a href="index">Updated
                    <span class="badge">222</span>
                </a>
            </li>
            <li class="inProgressTab">
                <a href="index">In progress
                    <span class="badge">2</span>
                </a>
            </li>
            <li class="searchResults" style="display: none;">
                <a href="index">Search results
                    <span class="badge">8</span>
                </a>
            </li>
                <a class="link advanced-download" style=" display: none; float:right; padding: 15px 0px;">Export (CSV)</a>
        </ul>

        <table class="table">
            <tr>
                <th>Ref No.</th>
                <th>Claimant name</th>
                <th>Submitted</th>
                <th></th>
            </tr>

            <tr class="4VTE9ZM">
                <td class="ref">4VTE9ZM</td>
                <td>Joseph Bloggs</td>
                <td>29/09/16 - 12:24</td>

                <td>
                    <a href="view-claim.html">View</a>
                </td>
            </tr>
            <tr class="4DTGEHI">
                <td class="ref">4DTGEHI</td>
                <td>Paul Smith</td>
                <td>29/09/16 - 12:17</td>

                <td>
                    <a href="claim-updated.html">View</a>
                </td>
            </tr>

            <tr class="6WKMCHS">
                <td class="ref">6WKMCHS</td>
                <td>Chris Sisk</td>
                <td>29/09/16 - 11:59</td>

                <td>
                    <a href="view-claim.html">View</a>
                </td>
            </tr>

            <tr class="9PLATGD">
                <td class="ref">9PLATGD</td>
                <td>Jane Smith</td>
                <td>29/09/16 - 11:25</td>

                <td>
                    <a href="view-claim.html">View</a>
                </td>
            </tr>
            <tr class="2YDINGC">
                <td class="ref">2YDINGC</td>
                <td>Susan Jones</td>
                <td>29/09/16 - 11:24</td>

                <td>
                    <a href="view-claim.html">View</a>
                </td>
            </tr>

            <tr class="5SLMMOP">
                <td class="ref">5SLMMOP</td>
                <td>Jim Brown</td>
                <td>29/09/16 - 10:01</td>

                <td>
                    <a href="view-claim.html">View</a>
                </td>
            </tr>

            <tr class="7DNJSPP">
                <td class="ref">7DNJSPP</td>
                <td>Sarah Smith</td>
                <td>29/09/16 - 10:00</td>

                <td>
                    <a href="view-claim.html">View</a>
                </td>
            </tr>

        </table>
    </main>

{% endblock %}
