<div class="admin">
    {% extends "layout.html" %}

    {% block page_title %}
        APVS Admin
    {% endblock %}

    {% block content %}

        <main id="content" role="main">

            {% include "includes/phase_banner_beta.html" %}

            <ul id="sub-nav">

                <li>
                    <a href="index" class="active">Dashboard</a>
                </li>
                <li>
                    <a href="claims.html">Claims</a>
                </li>
            </ul>

            <div class="gird-row filters">
                <div class="column-one-third filter-day">
                    <div>
                        <label class="form-label" for="select-day">Filter by</label>
                        <select class="form-control" id="select-day">
                            <option selected>Today</option>
                            <option>Yesterday</option>
                            <option>Last week</option>
                            <option>Last month</option>
                        </select>
                    </div>
                </div>
                <div class="column-one-third filter-month">
                        <label class="form-label" for="select-month">Filter by month</label>
                        <select class="form-control" id="select-month">
                            <option>January</option>
                            <option>Febuary</option>
                            <option>March</option>
                            <option>Apr</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option selected>December</option>
                        </select>
                </div>
                <div class="column-one-third">
                  <br><br><br><br>
                </div>
            </div>

            <div class="grid-row summaryBlocks">
                <div class="column-one-third">
                    <section class="block1">
                        <h2>
                                Pending claims
                        </h2>
                        <div class="visualisation">
                            <span class="number">8</span>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block2">
                        <h2>
                                In - progress claims
                        </h2>
                        <div class="visualisation">
                            <span class="number">3</span>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block3">
                        <h2>
                                Paid claims
                        </h2>
                        <div class="visualisation">
                            <span class="number">2</span>
                        </div>
                    </section>
                </div>
            </div>

            <div class="grid-row summaryBlocks">
                <div class="column-one-third">
                    <section class="block4">
                        <h2>
                                Auto - approved claims
                        </h2>
                        <div class="visualisation">
                            <span class="number">4</span>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block5">
                        <h2>
                                Manual - approved claims
                        </h2>
                        <div class="visualisation">
                            <span class="number">5</span>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block6">
                        <h2>
                                Rejected claims
                        </h2>
                        <div class="visualisation">
                            <span class="number">1</span>
                        </div>
                    </section>
                </div>
            </div>
        </main>

    {% endblock %}

</div>
