<div class="admin">
    {% extends "layout.html" %}

    {% block page_title %}
        APVS Admin
    {% endblock %}

    {% block content %}

        <main id="content" role="main">

            {% include "includes/phase_banner_beta.html" %}

            <ul id="sub-nav">

                <li>
                    <a href="index" class="active">Dashboard</a>
                </li>
                <li>
                    <a href="claims.html">Claims</a>
                </li>

            </ul>

            <span class="refresh">
                Last updated at 12:49
            </span>

            <div class="gird-row filters">
                <div class="column-one-third filter-day">
                    <div>
                        <label class="form-label" for="select-day">Filter by</label>
                        <select class="form-control" id="select-day">
                            <option selected value="1">Today</option>
                            <option value="2">Yesterday</option>
                            <option value="2">Last week</option>
                            <option value="3">Last month</option>
                        </select>
                    </div>
                </div>
                <div class="column-one-third filter-month">
                        <label class="form-label" for="select-month">Filter by month</label>
                        <select class="form-control" id="select-month">
                            <option value="1">January</option>
                            <option value="2">Febuary</option>
                            <option value="3">March</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option selected value="12">Decemeber</option>
                        </select>
                </div>
            </div>

            <div class="grid-row summaryBlocks">
                <div class="column-one-third">
                    <section class="block1">
                        <h2>
                            <a href="">
                                Pending claims
                            </a>
                        </h2>
                        <div class="visualisation">
                            <span class="number">125</span>
                            <p class="period">Oct 2016 to Nov 2016</p>
                        </div>
                        <div class="delta">
                            <div class="single-stat-delta">
                                <span class="change impact-number decrease">
                                    −1.88%
                                </span>
                                Sept 2016 to Oct 2016
                            </div>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block2">
                        <h2>
                            <a href="">
                                In - progress claims
                            </a>
                        </h2>
                        <div class="visualisation">
                            <span class="number">30</span>
                            <p class="period">Oct 2016 to Nov 2016</p>
                        </div>
                        <div class="delta">
                            <div class="single-stat-delta">
                                <span class="change impact-number increase">
                                    +1.88%
                                </span>
                                Sept 2016 to Oct 2016
                            </div>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block3">
                        <h2>
                            <a href="">
                                Paid claims
                            </a>
                        </h2>
                        <div class="visualisation">
                            <span class="number">95</span>
                            <p class="period">Oct 2016 to Nov 2016</p>
                        </div>
                        <div class="delta">
                            <div class="single-stat-delta">
                                <span class="change impact-number decrease">
                                    −1.88%
                                </span>
                                Sept 2016 to Oct 2016
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="grid-row summaryBlocks">
                <div class="column-one-third">
                    <section class="block4">
                        <h2>
                            <a href="">
                                Auto - approved claims
                            </a>
                        </h2>
                        <div class="visualisation">
                            <span class="number">20</span>
                            <p class="period">Oct 2016 to Nov 2016</p>
                        </div>
                        <div class="delta">
                            <div class="single-stat-delta">
                                <span class="change impact-number decrease">
                                    −1.88%
                                </span>
                                Sept 2016 to Oct 2016
                            </div>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block5">
                        <h2>
                            <a href="">
                                Manual - approved claims
                            </a>
                        </h2>
                        <div class="visualisation">
                            <span class="number">75</span>
                            <p class="period">Oct 2016 to Nov 2016</p>
                        </div>
                        <div class="delta">
                            <div class="single-stat-delta">
                                <span class="change impact-number increase">
                                    +1.88%
                                </span>
                                Sept 2016 to Oct 2016
                            </div>
                        </div>
                    </section>
                </div>
                <div class="column-one-third">
                    <section class="block6">
                        <h2>
                            <a href="">
                                Rejected claims
                            </a>
                        </h2>
                        <div class="visualisation">
                            <span class="number">5</span>
                            <p class="period">Oct 2016 to Nov 2016</p>
                        </div>
                        <div class="delta">
                            <div class="single-stat-delta">
                                <span class="change impact-number decrease">
                                    −1.88%
                                </span>
                                Sept 2016 to Oct 2016
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- <div class="charts">
                <section class="chartSection">
                    <h2>
                        <a href="">
                            Auto VS manually approved claims
                        </a>
                    </h2>
                    <p>Total number of applications each month</p>
                    <div class="allCharts"></div>
                </section>
                <section class="chartSection">
                    <h2>
                        <a href="">
                            Auto VS manually approved claims
                        </a>
                    </h2>
                    <p>Total number of applications each month</p>
                    <div class="lineChart"></div>
                </section>
            </div> -->

            <div class="prisonVisitTable">
                <h2>
                    <a href="">
                        Applications per prison</a>
                </h2>
                <p>Summary of top prisons in terms of applications</p>
                <table>
                    <tr>
                        <th>
                            <a href="">Title</a>
                        </th>
                        <th>
                            <a href="">Applications last month</a>
                        </th>
                        <th>
                            <a href="">Total Applications</a>
                        </th>
                    </tr>
                    <tr>
                        <td>Wandsworth Prison</td>
                        <td>125</td>
                        <td>1080</td>
                    </tr>
                    <tr>
                        <td>Brixton Prison</td>
                        <td>89</td>
                        <td>998</td>
                    </tr>
                    <tr>
                        <td>Maghaberry Prison</td>
                        <td>73</td>
                        <td>853</td>
                    </tr>
                    <tr>
                        <td>Wakefield Prison</td>
                        <td>61</td>
                        <td>707</td>
                    </tr>
                    <tr>
                        <td>Glen Parva Prison</td>
                        <td>47</td>
                        <td>604</td>
                    </tr>
                    <tr>
                        <td>Corton Vale Prison</td>
                        <td>23</td>
                        <td>403</td>
                    </tr>
                </table>
            </div>

        </main>

    {% endblock %}

</div>
